<div class="jvf-bootstrap">
    <div id="jvfIoGoToViewModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div id="jvfIoGoToViewVue" class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h4 class="modal-title" style="font-size: 20px !important;">
                        <i class="icon jvf-icon-send me-1"></i>
                        Go To View
                    </h4>
                    <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-dark text-white">
                    <div class="input-group"><span class="input-group-text">View Name</span><input class="form-control" type="text" v-model="viewInput" /><button class="btn btn-success" type="button" v-on:click="GoToViewFast(viewInput)">Go</button></div>
                    <hr />
                    <ul class="jvf-go-list">
                        <li v-for="(view, index) in views"><a class="link-info" href="#" v-on:click="GoToViewFast(view.view)">{{ view.name }}</a></li>
                    </ul>
                </div>
                <div class="modal-footer bg-dark text-white">
                    <p class="me-auto">jvf.io()</p><button class="btn btn-danger" type="button" data-bs-dismiss="modal">
                        <i class="icon jvf-icon-d-remove-1"></i>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>